.navbar-container {
    margin: 0;
    padding: 0;
    background-color:#ee7c1e;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.navbar-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo > a {
    color: #fff;
    text-decoration: none;
}

.navbar-logo > a:hover {
    cursor: pointer;
}

.navbar-btn img {
    position: relative;
    right: 10px;
}

.navbar-btn img:hover {
    cursor: pointer;
}

.cart-container {
    display: flex;
    min-width: 320px;
    position: absolute;
    right: 0;
    
}


@media only screen and (max-width:400px) {

}